@import "tailwindcss";

@theme {
  --color-Azul: #1f374f;
  --color-Dorado: #dfb760;
  --color-Blanco: #ffffff;
  --color-Negro: #000000;
}


/* 2. DEFINICIÓN DE FUENTES (Asegúrate de que los archivos existan en static/fonts/) */
@font-face {
  font-family: "Gotham Ultra";
  src: url("/fonts/Gotham-Ultra.woff2") format("woff2");
  font-weight: 900; /* Ultra suele ser 900 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* 3. CLASES DE UTILIDAD (Para usar en tu HTML/TSX) */
.gothamU {
  font-family: "Gotham Ultra", sans-serif;
}
.gotham {
  font-family: "Gotham", sans-serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}
.ralewayL {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

/* 4. RESET Y FONDO GLOBAL */
html,
body {
  background-color: var(--color-Azul);
  color: var(--color-Blanco);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}


/* Timer */
.fcc-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 2vw;
  user-select: none;
}

.fcc-digit {
  position: relative;
  width: 3.5vw;
  height: 5vw;
  background-color: var(--color-Dorado);
  border-radius: 0.8vw;
  perspective: 400px;
  box-shadow: 0 0.4vw 0.8vw rgba(0,0,0,0.15);
}

.fcc-section {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--color-Dorado);
}

.fcc-number {
  position: absolute;
  width: 100%;
  height: 5vw;
  line-height: 5vw;
  text-align: center;
  color: var(--color-Blanco);
  font-family: 'Gotham', sans-serif;
  font-size: 2.4vw;
  font-weight: 300;
}

.fcc-top, .fcc-leaf-front {
  top: 0;
  border-radius: 1.35vw 1.35vw 0 0;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.fcc-bottom, .fcc-leaf-back {
  bottom: 0;
  border-radius: 0 0 1.35vw 1.35vw;
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0));
}

.fcc-old { z-index: 2; }
.fcc-top .fcc-number, .fcc-leaf-front .fcc-number { top: 0; }
.fcc-bottom .fcc-number, .fcc-leaf-back .fcc-number { bottom: 0; }

.fcc-leaf-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
  transform-style: preserve-3d;
  transform-origin: bottom;
  animation: fcc-flip-anim 0.45s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.fcc-leaf-front, .fcc-leaf-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--color-Dorado);
}

.fcc-leaf-back { transform: rotateX(-180deg); }

.fcc-divider-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 0.2vw;
  background-color: var(--color-Blanco);
  z-index: 30;
  transform: translateY(-50%);
  opacity: 0.4;
}

.fcc-label {
  color: var(--color-Azul);
  font-family: 'Raleway', sans-serif;
  font-size: 0.9vw;
  font-weight: 800;
  margin-top: 1vh;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.fcc-separator {
  color: var(--color-Azul);
  font-size: 1.8vw;
  font-weight: 800;
  margin: 0 0.5vw;
  padding-bottom: 2vw;
}

@keyframes fcc-flip-anim {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(-180deg); }
}
